In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("diabetic_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [2]:
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

In [3]:
# Replace ? with NaN, as pandas has built-in functions to handle NaN
df.replace('?',np.nan,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        99493 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      3197 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  61510 non-null object
medical_specialty           51817 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101745 non-null object
diag_2                      101408 non-null object
diag_3                      100343 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [4]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8))
missing = pd.DataFrame({'column':df.columns ,'na_percent':df.isnull().sum()/len(df)*100})
missing.sort_values('na_percent',inplace=True)
plt.barh(missing['column'],width=missing['na_percent'])
plt.show()

In [5]:
#dropping columns with high percentage of missing values
df.drop(['weight','medical_specialty','payer_code'],axis=1,inplace=True)
#removing invalid/unknown entries for gender
df=df[df['gender']!='Unknown/Invalid']
# dropping all records which contain NaN
df.dropna(inplace=True)
df.isna().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [6]:
df.shape

(98052, 47)

In [7]:
df['patient_nbr'].nunique()

68629

In [8]:
df['patient_nbr'].value_counts()

88785891     39
1660293      23
88227540     23
23199021     23
84428613     22
23643405     22
92709351     21
37096866     20
90609804     20
29903877     20
88789707     20
23398488     20
97391007     19
88681950     19
88479036     19
89472402     19
3481272      18
84348792     18
24011577     18
91751121     18
91160280     18
3401055      18
106757478    17
41699412     17
90489195     17
90164655     16
41617368     16
384939       16
84676248     16
110463471    15
             ..
56724822      1
83955078      1
228744        1
114245037     1
54144927      1
90533322      1
19344834      1
103603644     1
32387580      1
45344997      1
70926237      1
3837366       1
101423232     1
16270767      1
151014830     1
120477101     1
141196712     1
23422347      1
24251814      1
135149891     1
37958130      1
15584670      1
106550685     1
111402396     1
89626005      1
36674964      1
106407315     1
78154461      1
5461389       1
93251151      1
Name: patient_nbr, Length: 68629, dtype: int64

From the paper: "The preliminary dataset contained multiple inpatient
visits for some patients and the observations could not
be considered as statistically independent, an assumption
of the logistic regression model. We thus used only one
encounter per patient; in particular, we considered only the
first encounter for each patient as the primary admission and
determined whether or not they were readmitted within 30
days."

In [9]:
# Keep only the first encounter of each patient
df['occurences'] = df.groupby('patient_nbr').cumcount()
df = df.drop_duplicates(subset= ['patient_nbr'], keep = 'last')
# Drop encounter_id and patient_nbr
df.drop(['encounter_id','patient_nbr'],axis=1,inplace=True)

At this point of time, the dataset seemed to be ready for one-hot encoding. But applying it produced ~2350 columns. We need a further look into each of the columns.

In [10]:
for col in df.columns:
    print(col,df[col].unique())

race ['Caucasian' 'AfricanAmerican' 'Other' 'Asian' 'Hispanic']
gender ['Female' 'Male']
age ['[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)' '[70-80)'
 '[80-90)' '[90-100)' '[0-10)']
admission_type_id [1 2 3 6 4 5 8 7]
discharge_disposition_id [ 1  3  6  2  5 11 25 10  7 14  4 18  8 13 12 22 17 23  9 16 20 15 28 24
 19 27]
admission_source_id [ 7  2  4  1  6 20  5  3 17  8  9 14 10 22 11 25 13]
time_in_hospital [ 3  2  1  4  5 13 12  9  7 10 11  6  8 14]
num_lab_procedures [ 59  11  44  51  31  70  73  68  33  47  62  55  49  75  45  29  35  42
  19  64  52  87  53  46  28  36  48  72  10   2  65  67  58  37  57  25
  34  39  69  38  27  56  22  96  78  61  60  66  43   1  18  41  82  54
   9  24  71  63  77  50  81  93  76 103  80  90  16  32  12  30  17  21
  79  26  95  97  14  74  23  13  40 105  86  83  84  98  20   5  85   6
  94   8 102 100  15  88  91  92   4  89 101   3  99   7 114 111 129 107
 108 106 109 120 113 104 121 126 118]
num_procedures [0 5 1 6 2 3 4]
num_medications [18 13 16  8 21 12 28 17 11 31  2 23 19  7 14 10 20 22 15  9 27 25  6 30
 26  5  4 24  3 61  1 46 33 41 36 32 29 50 43 42 37 34 51 35 38 45 40 54
 52 49 39 47 44 48 57 53 59 62 56 63 55 58 64 69 65 66 60 67 68 81 79 75
 74]
number_outpatient [ 0  2  1  5  3  9  8  4 12 11  6 20 15  7 10 14 35 13 16 17 29 36 18 19
 22 21 26 25 24 27 37 40 33]
number_emergency [ 0  1  2  4  9  6  3  8  7 25 10  5 42 16 11 28 15 14 12 37 19 13 20 18
 54 29]
number_inpatient [ 0  1  2  3  6  5  4  7  8  9 15 10 11 13 12 16]
diag_1 ['276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157' '518' '999'
 '410' '682' '402' 'V57' '189' '786' '427' '584' '462' '174' '998' '996'
 '511' '432' '626' '295' '250.6' '182' '845' '423' '808' '722' '403' '784'
 '707' '440' '151' '715' '997' '198' '564' '590' '486' '411' '578'
 '250.32' '433' '569' '185' '536' '250.4' '255' '599' '558' '574' '491'
 '560' '244' '730' '188' '824' '250.8' '332' '562' '296' '510' '70' '642'
 '250.03' '571' '593' '618' '456' '446' '250.02' '820' '515' '780'
 '250.22' '38' '577' '995' '235' '196' '250.82' '721' '556' '162' '724'
 '401' '250.83' 'V55' '281' '466' '530' '789' '566' '822' '250.13' '277'
 '711' '575' '202' '493' '280' '553' '441' '349' '557' '962' '507' '386'
 '156' '200' '728' '435' '426' '337' '82' '250.12' '225' '596' '288' '656'
 '787' '492' '220' '516' '210' '922' '572' '286' '885' '958' '661' '969'
 '227' '404' '823' '191' '416' '535' '250.41' '250' '211' '218' '457'
 '303' '431' '550' '351' '601' '723' '204' '424' '153' '241' '358'
 '250.81' '345' '681' '447' '290' '158' '436' '335' '453' '812' '309'
 '654' '805' '799' '292' '455' '250.42' '482' '733' 'V58' '78' '851' '532'
 '531' '738' '586' '311' '54' '892' '415' '591' '794' '803' '250.11' '79'
 '293' '540' '429' '278' '658' '592' '443' '729' '444' '727' '154' '214'
 '458' '291' '284' '585' '644' '481' '821' '413' '595' '437' '285' '968'
 '756' '340' '275' '512' '781' '420' '737' '825' '304' '320' '250.31'
 '669' '868' '3' '680' '459' '53' '438' '495' '49' '346' '294' '852'
 '250.43' '576' '850' '287' '331' '250.2' '611' '782' '840' '350' '726'
 '250.33' '620' '180' '783' '598' '751' '250.3' '199' '580' '836' '664'
 '283' '359' '496' '289' '708' '573' '184' '608' '333' '212' '117' '788'
 '625' '924' '621' '785' '714' '942' '250.23' '47' '552' '567' '250.1'
 '844' '7' '233' '42' '397' '421' '807' '253' '600' '604' '39' '659' '312'
 '473' '614' '652' '274' '861' '425' '527' '201' '451' '348' '485'
 '250.53' '970' '193' 'V53' '160' '322' '581' '475' '716' '582' '568'
 '465' '238' '801' '237' '537' '376' '461' '913' '251' '959' '987' '641'
 '480' '790' '336' '362' '228' '513' '478' '383' '746' '353' '911' '298'
 '522' '155' '442' '860' '534' '802' '141' 'V45' '310' '341' '242' '305'
 '736' '533' '616' '203' '519' '301' 'V66' '5' '965' '989' '230' '300'
 '853' '871' '848' '112' '934' '250.21' '361' '719' '810' '9' '430' '528'
 '205' '791' '983' '396' '172' '643' '171' '622' '863' '282' '474' '607'
 '759' '356' '239' '634' '967' '555' '551' '187' '732' '747' '323' '594'
 '308' '152' '250.92' '183' '846' '164' '250.93' '365' '718' '11' '48'
 '720' '565' '150' '797' '813' '170' '878' '904' '490' '882' '843' '709'
 '973' '454' '939' '487' '229' '617' '991' '250.5' '226' '483' '357' '692'
 '796' '693' '800' '873' '920' '261' '831' '145' '388' '223' 'V71' '839'
 '685' '710' '395' 'V54' '992' '655' '663' '464' '179' '964' 'V56' '324'
 '389' '815' '334' '143' '526' '307' '494' '588' '250.01' '977' '192'
 '135' 'V67' '394' '917' '88' '219' '325' '501' '792' '717' '994' '990'
 '793' '380' '207' '637' '195' '847' '827' '31' '306' '686' '891' '814'
 'V60' '161' '703' '865' '352' '627' '368' '660' '378' '342' '886' '344'
 '745' '297' '705' '694' '541' '986' '633' '640' '369' '173' '753' '835'
 '379' '355' '945' '619' '881' '370' '866' '405' '916' '215' '75' '514'
 '816' '252' '972' '897' '725' '263' '867' '115' '734' '674' '521' '623'
 '470' '834' '524' '691' '508' '445' '384' '142' '262' '879' '250.51'
 '246' '695' '208' '893' '646' '955' '653' '149' '245' '146' '966' '570'
 '854' '933' '35' '136' '194' '163' '579' '216' '374' '94' '477' '318'
 '880' '921' '377' '935' '683' '448' '175' '602' '250.91' '982' '382'
 '706' '417' '647' '131' '250.9' '463' '385' '735' '870' '936' '148' 'V26'
 '862' '272' '61' '817' '610' '914' '360' '684' '314' 'V63' '57' '240'
 '915' '883' '980' '971' '452' '864' '963' '327' '41' '842' '645' '665'
 '110' '944' '952' '923' '412' '363' '957' '976' '299' '273' '266' '34'
 '98' '605' '941' '806' '66' '84' '837' '657' '523' '542' '114' '338'
 '372' '696' '354' '36' 'E909' 'V07' '826' '422' '731' '279' '919' '875'
 '236' '890' '147' '381' '632' '804' '23' '58' '795' '529' '649' '615'
 '832' '583' '928' '271' '133' '975' '833' '391' '690' '250.52' '603' '10'
 'V51']
diag_2 ['250.01' '250' '250.43' '157' '411' '492' '427' '198' '403' '288' '998'
 '507' '174' '425' '401' '715' '496' '428' '410' '585' '135' '41' '571'
 '276' '997' '599' '424' '491' '553' '707' '286' '440' '493' '242' '70'
 '250.03' '357' 'V45' '511' '196' '396' '197' '414' '250.52' '577' '413'
 '53' '780' '518' '566' '250.6' '285' '486' '8' '250.02' '788' '340' '228'
 '250.82' '786' '294' '567' '785' '512' '305' '648' '560' 'V15' '578'
 '277' '781' '250.42' 'V10' '584' '153' '272' '733' '881' '574' '250.41'
 '250.13' '293' '999' '250.12' '342' '626' '458' '710' '415' 'V42' '284'
 '759' '112' '292' '435' '426' '996' '280' '290' '535' '642' '398' '444'
 '319' '203' '711' '303' '446' '255' 'V44' '250.7' '250.51' '682' '300'
 '787' '581' '162' '402' '287' '789' '790' '591' '200' '38' '304' '117'
 '154' '847' '852' '729' '250.11' '816' '575' '416' '412' '515' '482'
 '456' '250.83' '283' '536' '432' '530' '569' '721' '434' '271' '368'
 '227' '572' '783' '573' '576' '253' '309' '250.91' '519' '333' '204'
 '250.92' '250.4' '179' '345' '661' '433' '537' '205' '295' '784' '714'
 '211' '590' 'E812' '263' '250.23' '244' 'E932' '250.81' '201' '382' '723'
 '250.5' '722' '34' '861' 'V57' '724' 'E888' '730' '397' '278' '462' '150'
 '451' '738' 'V43' '155' '202' '218' '220' 'E937' '794' '564' '436' '805'
 '250.22' '620' '621' '331' '453' '617' '596' '625' '404' '681' '558'
 '281' '531' '443' '568' '799' '311' 'E878' '719' 'E944' 'V12' '423'
 'E870' 'E849' '782' '481' 'V23' '199' '438' '348' '583' '473' '627' '726'
 '54' '490' '731' '332' '508' '437' 'E939' '79' '208' '922' '562' '431'
 '296' '258' 'E935' '728' '344' '191' '873' '616' 'V17' '136' '455'
 '250.8' 'E885' '860' '441' '607' '466' '603' '753' '484' 'V72' '291'
 '151' 'V58' '510' '185' '592' '791' '598' '362' '217' '250.93' '298'
 '821' 'E880' '343' '429' '250.53' '716' 'E879' '465' '138' '420' '42'
 '658' '969' '275' '595' '618' '601' '447' '808' 'E890' '301' '380' '359'
 '274' '337' '570' 'V14' '324' 'E931' '792' '532' 'V64' '557' '478' '813'
 '593' '864' 'E934' '718' '459' '386' '807' '604' 'E942' '580' '241' 'V65'
 '282' '824' '550' '279' '646' '701' '736' '600' '565' '383' '820' '452'
 '872' '189' '905' '349' '614' '921' '131' '611' '389' '394' '421' '705'
 '336' '623' '9' '299' '172' '365' '40' '691' '746' '250.31' '745' '250.1'
 '351' '695' '346' '918' '947' '520' '188' '31' '356' '737' 'V08' '322'
 '182' '974' 'E929' '378' '252' '94' '680' '702' 'V49' '923' '647' '696'
 '358' '934' '487' '709' '796' '250.9' '156' '850' '485' '556' '915' '756'
 '867' '840' '825' '693' '725' '683' '953' '552' '501' '727' 'E900' '812'
 'E930' 'V09' '522' '919' '461' '516' '273' '958' '259' '494' '297' '802'
 'V54' '320' '906' '239' '608' '454' 'V46' '823' '226' '795' 'E947' '684'
 '306' '844' '250.33' '308' '615' '457' '712' '663' '706' '833' '713'
 '533' '372' 'E884' '78' '233' '586' '214' '555' '717' 'E933' '755' 'E928'
 '869' '962' 'V11' '910' '543' '373' '870' '152' '810' '907' '517' '924'
 '995' '845' '474' '442' '751' '323' '472' '464' '250.32' '540' '251'
 '811' '317' '652' '659' '851' '826' '422' '815' '110' '325' '463' '920'
 '992' '692' 'E950' '521' '579' '524' '741' '193' '173' '238' '335' '137'
 '405' '514' '528' '225' '312' '837' '355' '594' '622' '289' '369' '475'
 '965' '500' '754' '261' '891' '868' '968' '381' '250.21' '694' '610'
 '734' '310' '130' '246' '959' '634' 'E936' 'E927' 'E905' '314' '183'
 '379' 'E917' '163' 'E868' '495' '747' '989' '430' '240' '832' '644' 'V16'
 'V18' '35' '882' 'V70' '801' 'E918' '477' '656' '46' '883' 'V13' '842'
 'E850' '800' '269' '75' '664' '171' '952' '164' '836' '250.2' '27' 'V63'
 '911' '793' '232' '245' '990' '376' '327' '542' '806' '972' '862' 'E829'
 'E919' '944' 'E916' '480' '963' '316' 'E858' '513' 'V62' '645' '686'
 '347' 'V85' '374' '748' '866' '967' '395' '354' '994' 'E826' '641' '685'
 'V53' '822' '307' '145' '797' '913' '353' 'E938' 'E816' '948' '892' '99'
 '192' '250.3' 'E906' '534' '527' '366' '698' '945' 'E814' '266' '758'
 'E980' 'E881' 'E941' '360' '338' 'V02' '470' '529' '871' '212' '302'
 '955' '865' '814' '654' 'E924' 'E819' '750' '88' 'V25' '215' '11' '350'
 '933' '483' 'V50' 'E968' 'E882' '140' '703' '262' 'E821' '588' 'V69'
 '831' '670' '195' 'V66' '268' '352' '909' '853' '260' '7' '991' '448'
 '880' '377' 'V86' '619' '341' '180' '523' '863' '649' 'E853' '270' '665'
 '460' '942' '364' '66' 'E883' '123' '742' 'V60' 'V55' '843' 'E887' '927']
diag_3 ['255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '427' '627' '414'
 '416' '582' 'V43' '250.42' '276' '250.41' '250.01' '585' '781' '998'
 '428' '568' '682' '278' '250.02' '305' '707' '496' '599' '518' '553'
 '401' '794' '411' 'V42' '511' '490' '562' '250.8' '482' '250.7' '784'
 '491' '420' '730' '789' '131' '250.82' '999' '424' '41' '493' '250.03'
 '529' '263' 'E888' '425' '595' '560' '711' '8' '296' '250.4' '654' '244'
 'V70' '625' '250.51' 'V10' '280' '440' '581' '569' '272' '997' '250.43'
 '918' '54' '788' '196' '461' '535' '584' '891' '332' '648' '250.6' '780'
 '182' '285' '413' '664' '201' 'V15' '292' '473' '714' '564' 'E932' '348'
 '459' '437' '733' '525' '250.53' '397' '572' '805' '453' '331' '736'
 '402' '465' '533' '787' '315' '658' '608' '786' '284' '382' '300' '492'
 '438' '571' '536' '287' '644' '578' 'V11' 'E885' '162' '198' '218' '303'
 '412' '396' 'V14' '570' '433' 'E934' '882' '458' '288' '357' '785' '577'
 '443' '729' '836' '295' '281' '153' '410' '616' '799' '304' '250.83'
 '291' '512' '660' '426' '250.5' '598' '337' '574' '715' '653' '507' '722'
 '415' '386' '112' '620' '70' '593' '663' '530' '42' '342' '250.91' 'E884'
 '307' '704' '596' '728' '583' '710' '238' '441' '573' '290' '319'
 '250.13' '250.12' '346' '380' '642' '250.52' '698' '294' '924' 'E933'
 '309' 'E879' '286' '753' '752' '731' '681' '444' '311' '344' '455' '35'
 '558' '790' '813' '394' '301' 'V17' '802' '435' 'V12' '881' '724' '716'
 'E935' '250.81' '718' '282' '202' '334' '398' 'V44' 'E849' 'E878' '614'
 '626' '591' '531' '250.9' '883' '289' '617' '429' '442' 'V25' '866' '610'
 '557' '959' '94' '920' '362' '345' '79' '293' '516' '365' '586' '821'
 '600' '242' '373' '592' '250.92' '487' '706' '519' 'E947' '340' '656'
 'E949' 'V58' '590' 'V09' '250.22' '694' '138' '250.93' '995' '709' '185'
 '923' '958' '275' 'E929' '517' 'V18' 'E942' 'V66' '665' '53' '279' '522'
 '791' '456' 'E938' 'E816' '122' '436' '721' 'V65' '515' '136' '480' '135'
 '537' '575' '351' '336' '580' '404' '434' '227' '157' '208' 'V57' '466'
 '274' '734' '150' '199' 'V23' '555' 'E950' '447' 'V64' '228' 'V16' '756'
 'E928' '552' '647' '389' '576' '792' '366' '253' '907' '266' '203' '387'
 '783' '782' '245' '607' 'E930' '705' '372' '611' 'V46' '601' '110' '867'
 'E956' '478' '310' '251' '250.2' '712' '695' '343' '746' '567' '723'
 'V08' '369' '623' '807' '446' '618' '451' '701' '34' 'V53' '472' '283'
 '189' '534' '354' '333' 'V54' '659' 'E939' '708' '655' '816' '670' '621'
 '246' '953' '865' '277' '646' '151' '174' '378' '78' '298' '840' '641'
 '745' '211' '719' '521' '619' '506' '259' '594' '355' '532' '204' '356'
 '566' '905' '47' '737' '358' '191' '965' '812' '921' '727' '27' 'E861'
 '758' '477' '652' '432' '188' '825' '919' '732' '726' '908' '951' '962'
 '685' '527' '845' '793' '693' '494' '250.1' '273' '860' '155' '692' '579'
 '969' '205' '462' 'V49' 'E880' '556' '697' '826' '240' '717' '738' '742'
 '680' '735' '200' '308' '528' '241' '824' '405' '464' '260' '457' '452'
 '239' '661' '892' '261' '725' 'E883' 'E936' '945' '696' '318' '967'
 'E944' '350' '9' '741' 'E941' '170' '317' '759' 'V22' '831' '180' '801'
 '360' '359' '501' '335' '250.11' '306' '811' '690' 'V02' '271' '214'
 '873' '847' '543' 'V63' '906' '842' '686' '445' '368' '808' '861' 'E852'
 '220' 'E887' '423' 'E858' '915' '713' '970' '820' 'E980' '256' '747'
 '395' '243' '815' '823' '5' '796' '349' '297' '454' '851' '864' '922'
 '384' 'E931' '270' '225' '158' 'E937' '871' '605' '88' 'E917' 'E812'
 'E924' '233' '797' '172' '421' '852' 'E819' '299' '972' 'V72' '916' '956'
 '703' '173' '193' '154' '347' '862' 'E817' '934' '323' '250.3' '987'
 '262' '379' '751' 'E855' 'E927' '161' '115' '383' 'V62' '910' '17' '265'
 'V60' '870' '944' '844' '417' '152' '183' '252' 'E905' '917' '514' '385'
 'E906' '470' '935' '510' '485' 'E870' '912' '312' '850' '179' 'E919'
 '872' '377' '495' '195' '588' '431' '11' '991' '933' '171' '156' '868'
 '250.21' 'E815' '542' 'V61' '853' '163' 'E882' '235' 'E822' '810' '754'
 '523' 'V55' 'V85' '992' '657' 'E881' '604' 'E826' '550' '327' 'E916'
 '314' 'E943' '460' '376' '313' '755' '361' '720' '250.31' '674' '374'
 '500' 'E813' '226' 'E818' '955' 'E894' 'E920' '880' '930' 'E915' '381'
 '132' '353' '795' 'V13' '913' '117' 'E853' '911' '540' '483' 'E828' '430'
 '800' 'E865' 'E946' 'V86' '338' '388' 'V03' '139' '123' '966' '757'
 'E850' '848' '508' 'E892' '649' '702' '948' 'E886' '928' '481' '624'
 '909' 'E987' '841' 'E955' '217' '877' 'E825' '952' '814' '192' '7' '669'
 '989' '141' '875' '822' 'E900' 'V06' '215' '980' '834' '448' '175' '49'
 '876' '230' '57' '216' '258' '268' '943' 'E854' '942' '14' '750' '370'
 '671' '971' '565']
number_diagnoses [ 9  6  7  5  8  3  4 12 13 16 10 11 15 14]
max_glu_serum ['None' '>300' 'Norm' '>200']
A1Cresult ['None' '>7' '>8' 'Norm']
metformin ['No' 'Steady' 'Up' 'Down']
repaglinide ['No' 'Steady' 'Up' 'Down']
nateglinide ['No' 'Steady' 'Up' 'Down']
chlorpropamide ['No' 'Steady' 'Down' 'Up']
glimepiride ['No' 'Steady' 'Down' 'Up']
acetohexamide ['No' 'Steady']
glipizide ['No' 'Steady' 'Up' 'Down']
glyburide ['No' 'Steady' 'Up' 'Down']
tolbutamide ['No' 'Steady']
pioglitazone ['No' 'Steady' 'Up' 'Down']
rosiglitazone ['No' 'Steady' 'Up' 'Down']
acarbose ['No' 'Steady' 'Up' 'Down']
miglitol ['No' 'Steady' 'Up' 'Down']
troglitazone ['No' 'Steady']
tolazamide ['No' 'Steady']
examide ['No']
citoglipton ['No']
insulin ['Up' 'No' 'Steady' 'Down']
glyburide-metformin ['No' 'Steady' 'Down' 'Up']
glipizide-metformin ['No' 'Steady']
glimepiride-pioglitazone ['No']
metformin-rosiglitazone ['No']
metformin-pioglitazone ['No' 'Steady']
change ['Ch' 'No']
diabetesMed ['Yes' 'No']
readmitted ['>30' 'NO' '<30']
occurences [ 0  1  2  4  3  5  6 11  7 14  9 10  8 17 12 15 22 21 19 18 20 13 16 38]

This is mainly because of 3 columns, diag_1, diag_2 and diag_3 with 848, 923 and 954 unique values respectively.

In [11]:
diag_cols = ['diag_1','diag_2','diag_3']
for col in diag_cols:
    df[col] = df[col].str.replace('E','-')
    df[col] = df[col].str.replace('V','-')
    condition = df[col].str.contains('250')
    df.loc[condition,col] = '250'

df[diag_cols] = df[diag_cols].astype(float)

In [12]:
# diagnosis grouping based on ICD9 codes given in the paper
for col in diag_cols:
    df['temp']='Others'
    df.loc[df[col]==250,'temp']='Diabetes'
    df.loc[(df[col]>=390) & (df[col]<=458) | (df[col]==785),'temp']='Circulatory'
    df.loc[(df[col]>=460) & (df[col]<=519) | (df[col]==786),'temp']='Respiratory' 
    df.loc[(df[col]>=520) & (df[col]<=579) | (df[col]==787),'temp']='Digestive'
    df.loc[(df[col]>=580) & (df[col]<=629) | (df[col]==788),'temp']='Genitourinary'
    df.loc[(df[col]>=800) & (df[col]<=999),'temp']='Injury'
    df.loc[(df[col]>=710) & (df[col]<=739),'temp']='Muscoloskeletal'
    df.loc[(df[col]>=140) & (df[col]<=239),'temp']='Neoplasms'
    df.loc[df[col]<0,'temp']='External'
    df[col]=df['temp']
    df.drop('temp',axis=1,inplace=True)
for col in diag_cols:
    print(col,df[col].unique())

diag_1 ['Others' 'Neoplasms' 'Circulatory' 'Diabetes' 'Respiratory' 'Injury'
 'External' 'Genitourinary' 'Muscoloskeletal' 'Digestive']
diag_2 ['Diabetes' 'Neoplasms' 'Circulatory' 'Respiratory' 'Others' 'Injury'
 'Muscoloskeletal' 'Genitourinary' 'Digestive' 'External']
diag_3 ['Others' 'External' 'Circulatory' 'Diabetes' 'Respiratory' 'Injury'
 'Neoplasms' 'Genitourinary' 'Digestive' 'Muscoloskeletal']

In [13]:
for col in diag_cols:
    print(df[col].value_counts())
    print("----------------------")

Circulatory        20641
Others             11210
Respiratory         9544
Digestive           6382
Diabetes            5077
Injury              4765
Muscoloskeletal     3707
Genitourinary       3520
Neoplasms           2624
External            1159
Name: diag_1, dtype: int64
----------------------
Circulatory        21655
Others             16084
Diabetes            8457
Respiratory         7306
Genitourinary       5629
Digestive           2839
External            1833
Neoplasms           1783
Injury              1773
Muscoloskeletal     1270
Name: diag_2, dtype: int64
----------------------
Circulatory        20774
Others             16658
Diabetes           11892
Respiratory         4810
Genitourinary       4260
External            3518
Digestive           2620
Injury              1404
Muscoloskeletal     1352
Neoplasms           1341
Name: diag_3, dtype: int64
----------------------

In [14]:
df['age'] = df['age'].str[1:].str.split('-',expand=True)[0]
df['age'] = df['age'].astype(int)
max_glu_serum_dict = {'None':0,
                      'Norm':100,
                      '>200':200,
                      '>300':300
                     }
df['max_glu_serum'] = df['max_glu_serum'].replace(max_glu_serum_dict)

A1Cresult_dict = {'None':0,
                  'Norm':5,
                  '>7':7,
                  '>8':8
                 }
df['A1Cresult'] = df['A1Cresult'].replace(A1Cresult_dict)

change_dict = {'No':-1,
               'Ch':1
              }
df['change'] = df['change'].replace(change_dict)

diabetesMed_dict = {'No':-1,
                    'Yes':1
                   }
df['diabetesMed'] = df['diabetesMed'].replace(diabetesMed_dict)

df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,occurences
1,Caucasian,Female,10,1,1,7,3,59,0,18,...,Up,No,No,No,No,No,1,1,>30,0
2,AfricanAmerican,Female,20,1,1,7,2,11,5,13,...,No,No,No,No,No,No,-1,1,NO,0
3,Caucasian,Male,30,1,1,7,2,44,1,16,...,Up,No,No,No,No,No,1,1,NO,0
4,Caucasian,Male,40,1,1,7,1,51,0,8,...,Steady,No,No,No,No,No,1,1,NO,0
5,Caucasian,Male,50,2,1,2,3,31,6,16,...,Steady,No,No,No,No,No,-1,1,>30,0

In [15]:
d24_feature_dict = {'Up':10,
                    'Down':-10,
                    'Steady':0,
                    'No':-20
                   }
d24_cols = ['metformin','repaglinide','nateglinide','chlorpropamide',
 'glimepiride','acetohexamide','glipizide','glyburide',
 'tolbutamide','pioglitazone','rosiglitazone','acarbose',
 'miglitol','troglitazone','tolazamide','examide',
 'citoglipton','insulin','glyburide-metformin','glipizide-metformin',
 'glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone']

for col in d24_cols:
    colname = str(col) + 'temp'
    df[colname] = df[col].apply(lambda x: 0 if (x == 'No' or x == 'Steady') else 1)
df['numchange'] = 0
for col in d24_cols:
    colname = str(col) + 'temp'
    df['numchange'] = df['numchange'] + df[colname]
    del df[colname]

for col in d24_cols:
    df[col] = df[col].replace(d24_feature_dict)

df['within30'] = np.where(df['readmitted']=='<30',1,0)
df['readmitted'] = np.where(df['readmitted']=='NO',0,1)

df.head()

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,occurences,numchange,within30
1,Caucasian,Female,10,1,1,7,3,59,0,18,...,-20,-20,-20,-20,1,1,1,0,1,0
2,AfricanAmerican,Female,20,1,1,7,2,11,5,13,...,-20,-20,-20,-20,-1,1,0,0,0,0
3,Caucasian,Male,30,1,1,7,2,44,1,16,...,-20,-20,-20,-20,1,1,0,0,1,0
4,Caucasian,Male,40,1,1,7,1,51,0,8,...,-20,-20,-20,-20,1,1,0,0,0,0
5,Caucasian,Male,50,2,1,2,3,31,6,16,...,-20,-20,-20,-20,-1,1,1,0,0,0

In [16]:
# 11,19,20,21 represent the patient expired at hospital or at home. We should remove these from our dataset as they cannot be 
# readmitted.
df = df[~df['discharge_disposition_id'].isin([11,19,20,21])]
df['discharge_disposition_id'].value_counts()

1     41323
3      8987
6      8253
18     2348
2      1401
22     1267
5       794
25      536
4       506
7       388
13      357
14      346
23      272
28       77
8        69
15       30
24       29
9        12
17       11
10        6
16        5
27        4
12        2
Name: discharge_disposition_id, dtype: int64

In [17]:
cat_data = ["race","gender","diag_1","diag_2","diag_3","admission_type_id","discharge_disposition_id","admission_source_id"]
for col in cat_data:
    df = pd.concat([df.drop(col, axis=1), pd.get_dummies(df[col],prefix=col)], axis=1)
df.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,...,admission_source_id_8,admission_source_id_9,admission_source_id_10,admission_source_id_11,admission_source_id_13,admission_source_id_14,admission_source_id_17,admission_source_id_20,admission_source_id_22,admission_source_id_25
1,10,3,59,0,18,0,0,0,9,0,...,0,0,0,0,0,0,0,0,0,0
2,20,2,11,5,13,2,0,1,6,0,...,0,0,0,0,0,0,0,0,0,0
3,30,2,44,1,16,0,0,0,7,0,...,0,0,0,0,0,0,0,0,0,0
4,40,1,51,0,8,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
5,50,3,31,6,16,0,0,0,9,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df.reset_index(inplace=True,drop=True)
df.head()

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,max_glu_serum,...,admission_source_id_8,admission_source_id_9,admission_source_id_10,admission_source_id_11,admission_source_id_13,admission_source_id_14,admission_source_id_17,admission_source_id_20,admission_source_id_22,admission_source_id_25
0,10,3,59,0,18,0,0,0,9,0,...,0,0,0,0,0,0,0,0,0,0
1,20,2,11,5,13,2,0,1,6,0,...,0,0,0,0,0,0,0,0,0,0
2,30,2,44,1,16,0,0,0,7,0,...,0,0,0,0,0,0,0,0,0,0
3,40,1,51,0,8,0,0,0,5,0,...,0,0,0,0,0,0,0,0,0,0
4,50,3,31,6,16,0,0,0,9,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df["readmitted"].value_counts()

0    50258
1    16765
Name: readmitted, dtype: int64

In [20]:
df.to_csv("Clean_Data.csv",index=False)